<h2>オンラインサロン情報</h2>

<%= form_with model: @salon, url: {controller: 'salon/salons', action: 'update' }, local: true do |f| %>

<table class = "table">
    <tr>
	<th><%= f.label :image, "プロフィール画像" %></th>
    <td><%= f.attachment_field :image %></td>
    </tr>
	
    <tr>
	<th><%= f.label :salon_name, "オンラインサロン名" %></th>
    <td><%= f.text_field :salon_name %></td>
    </tr>

    <tr>
    <th><%= f.label :person_name, "代表者名" %></th>
    <td><%= f.text_field :person_name %></td>
    </tr>

    <tr>
    <th><%= f.label :email %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>

    <tr>
    <th><%= f.label :number, "会員数" %></th>
    <td><%= f.text_field :number %></td>
    </tr>

    <tr>
        <th><%= f.label :price, "月極価格" %></th>
        <td><%= f.text_field :price %></td>
    </tr>

    <tr>
        <th><%= f.label :purpose, "目的" %></th>
        <td><%= f.text_area :purpose %></td>
    </tr>
    </table>

    <div class = "action">
        <%= f.submit "変更する" %>
    </div>

<% end %>