<div class = "row">
	<div class = "col-lg-2 offset-lg-2">
		<%= attachment_image_tag @user, :image, format: 'jpg', class: "img-circle", fallback: "no_image.jpg" %>
		<h4><%= @user.name %></h4><hr>
		<h4><%= @user.email %></h4><hr>
		<h4><%= @user.age %></h4><hr>
		<h4><%= @user.job %></h4><hr>
		<%= link_to "編集", edit_user_users_path, class: "btn btn-primary" %>
	</div>

	<div class ="col-lg-8">
		<h2>オンラインサロン一覧</h2>
		<% @salons.each do |salon| %>
			<!-- サロン画像を挿入 -->
			<h4><%= link_to salon.salon_name, user_salon_path(salon) %></h4>
		<% end %>
	</div>
</div>