<h2>オンラインサロン一覧</h2>

<div class = "row">
	<div class = "col-lg-2 offset-lg-2">
		<h4><%= @user.name %></h4><hr>
		<h4><%= @user.email %></h4><hr>
		<h4><%= @user.age %></h4><hr>
		<h4><%= @user.job %></h4><hr>
	</div>

	<div class ="col-lg-8">
		<% @salons.each do |salon| %>
			<%= salon.salon_name %>
		<% end %>
	</div>
</div>