<div class = "row">
	<div class = "col-lg-2 offset-lg-2">
		<h2>会員情報</h2>
		<%= render 'user/users/profile', user: @user %>
	</div>

	<div class ="col-lg-7 offset-lg-1">
		<h2>オンラインサロン一覧</h2>
		<div class="card col-lg-4">
			<% @salons.each do |salon| %>
				<%= attachment_image_tag salon, :image, format: 'jpg', class: "img-circle", size: "300x300", fallback: "no_image.jpg" %>
				<h4><%= link_to salon.salon_name, user_salon_path(salon), class: "offset-lg-4" %></h4>
				<div id="favorites_buttons_<%= salon.id %>">
					<%= render 'user/favorites/favorite', salon: salon %>
				</div>
			<% end %>
		</div>
	</div>
</div>