<h2>オンラインサロン一覧</h2>

<div class = "row">
	<div class = "col-lg-3">
		<%= @user.name %>
		<%= @user.email %>
		<%= @user.age %>
		<%= @user.job %>
	</div>

	<div class ="col-lg-9">
		<% @salons.each do |salon| %>
			<%= salon.salon_name %>
			<%= salon.person_name %>
			<%= salon.number %>
			<%= salon.price %>
			<%= salon.purpose %>
		<% end %>
	</div>
</div>