<div class = "row">
	<div class = "col-lg-2 offset-lg-2">
		<h2>会員情報</h2>
		<%= attachment_image_tag @user, :image, format: 'jpg', class: "img-circle", size: "300x300", fallback: "no_image.jpg" %>
		<h4><%= @user.name %></h4><hr>
		<h4><%= @user.email %></h4><hr>
		<h4><%= @user.age %></h4><hr>
		<h4><%= @user.job %></h4><hr>
		<%= link_to "編集", edit_user_users_path, class: "btn btn-outline-secondary w-100" %>
	</div>

	<div class ="col-lg-7 offset-lg-1">
		<h2>オンラインサロン一覧</h2>
		<% @salons.each do |salon| %>
			<%= attachment_image_tag salon, :image, format: 'jpg', class: "img-circle", size: "300x300", fallback: "no_image.jpg" %>
			<h4><%= link_to salon.salon_name, user_salon_path(salon) %></h4>
		<% end %>
	</div>
</div>