<div class = "row">
	<div class = "col-lg-2 offset-lg-2">
		<h2>会員情報</h2>
		<%= attachment_image_tag @user, :image, format: 'jpg', class: "img-circle", size: "300x300", fallback: "no_image.jpg" %>
		<h4><%= @user.name %></h4><hr>
		<h4><%= @user.email %></h4><hr>
		<h4><%= @user.age %></h4><hr>
		<h4><%= @user.job %></h4><hr>
		<%= link_to "編集", edit_user_users_path, class: "btn btn-outline-secondary w-100" %>
	</div>

	<div class = "col-lg-6 offset-lg-2">
		<h2>サロン詳細</h2>
			<%= attachment_image_tag @salon, :image, format: 'jpg', class: "img-circle", size: "300x300", fallback: "no_image.jpg" %>
			<h4>オンラインサロン名：<%= @salon.salon_name %></h4>
			<h4>代表者：<%= @salon.person_name %></h4>
			<h4>会員数：<%= @salon.number %>名</h4>
			<h4>月額価格：¥<%= @salon.price %></h4>
			<h4>目的：<%= @salon.purpose %></h4>
			<%= link_to "メッセージを送る", user_salon_rooms_path(@salon), class: "btn btn-primary" %>
	</div>
</div>
