<div class = "row">
<!-- プロフィールを挿入 -->

	<div class = "col-lg-8">
		<h2>サロン詳細</h2>
			<!-- サロン画像を表示 -->
			<h4><%= @salon.salon_name %></h4>
			<h4><%= @salon.person_name %></h4>
			<h4><%= @salon.number %></h4>
			<h4><%= @salon.price %></h4>
			<p><%= @salon.purpose %></p>
	</div>
</div>
