<h2>ユーザー編集</h2>
	
<%= form_with model: @user, url: {controller: 'user/users', action: 'update' }, local: true do |f| %>

<table class = "table table-bordered">
    <tr>
	   <div class = "row">
            <th class="table-light"><%= f.label :image, "プロフィール画像", class: "col-lg-4 offset-lg-2" %></th>
            <td><%= f.attachment_field :image %> </td>
	   </div>
    </tr>

    <tr>
	   <div class="row">
            <th class="table-light"><%= f.label :name, "氏名", class: "col-lg-4 offset-lg-2" %></th>
            <td><%= f.text_field :name, class: "col-lg-6" %></td>
        </div>
    </tr>

    <tr>
        <div class="row">
            <th class="table-light"><%= f.label :email, "Eメール", class: "col-lg-4 offset-lg-2" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-6" %></td>
        </div>
    </tr>

    <tr>
        <div class="row">
            <th class="table-light"><%= f.label :age, "年齢", class: "col-lg-4 offset-lg-2" %></th>
            <td><%= f.text_field :age, class: "col-lg-6" %></td>
        </div>
    </tr>

    <tr>
        <div class="row">
            <th class="table-light"><%= f.label :job, "職業", class: "col-lg-4 offset-lg-2" %></th>
            <td><%= f.text_field :job, class: "col-lg-6" %></td>
        </div>
    </tr>
</table>

    <div class="row-actions">
    	<%= f.submit "変更", class: "btn btn-secondary col-lg-3 offset-lg-4" %>
    </div>
<% end %>