<h2>オンラインサロン登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "salons/shared/error_messages", resource: resource %>

    <div class="field">
        <%= f.label :salon_name, "オンラインサロン名" %><br />
        <%= f.text_field :salon_name %>
    </div>

    <div class="field">
        <%= f.label :person_name, "代表者名" %><br />
        <%= f.text_field :person_name %>
    </div>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
        <%= f.label :number, "会員数" %><br />
        <%= f.text_field :salon_name %>
    </div>

    <div class="field">
        <%= f.label :salon_name, "月極価格" %><br />
        <%= f.text_field :salon_name %>
    </div>

    <div class="field">
        <%= f.label :salon_name, "目的" %><br />
        <%= f.text_area :salon_name %>
    </div>

    <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
        <%= f.submit "登録する" %>
    </div>
<% end %>

<%= render "salons/shared/links" %>
