<h2>ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="row">
        <%= f.label :name, "氏名", class: "col-lg-8 offset-lg-4" %><br />
        <%= f.text_field :name, class: "col-lg-4 offset-lg-4" %>
    </div>

    <div class="row">
        <%= f.label :email, "Eメール", class: "col-lg-8 offset-lg-4" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-lg-4 offset-lg-4" %>
    </div>

    <div class="row">
        <%= f.label :age, "年齢", class: "col-lg-8 offset-lg-4" %><br />
        <%= f.text_field :age, class: "col-lg-4 offset-lg-4" %>
    </div>

    <div class="row">
        <%= f.label :job, "職業", class: "col-lg-8 offset-lg-4" %><br />
        <%= f.text_field :job, class: "col-lg-4 offset-lg-4" %>
    </div>

    <div class="row">
        <%= f.label :password, "パスワード(6字以上)", class: "col-lg-8 offset-lg-4" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-lg-4 offset-lg-4" %>
    </div>

    <div class="row">
        <%= f.label :password_confirmation, "確認用パスワード", class: "col-lg-8 offset-lg-4" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-lg-4 offset-lg-4" %>
    </div>

    <div class="row-actions">
        <%= f.submit "登録する" %>
    </div>
<% end %>

<%= render "users/shared/links" %>
